<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Pierre-Amaury Grumiaux">
    <title>Pierre-Amaury Grumiaux</title>

    <link rel="canonical" href="none">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">
    <script src="https://use.fontawesome.com/a01ee2d83e.js"></script>

  </head>
  
  <body>
    <!-- top nav bar -->
    <nav class="navbar fixed-top navbar-expand-lg chiller-theme">
      <div class="container-fluid">
      
        <!-- home logo -->
        <a class="navbar-brand" href="{{url_for('index')}}">
          <img class="logo horizontal-logo" src="{{url_for('static', filename='img/home_grey_24.png')}}" alt="home">
        </a>
        
        <!-- button for dropdown nav if size too small -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <!-- nav bar container -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link" href="{{url_for('research')}}" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Research
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="{{url_for('music')}}" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Music
              </a>
            </li>
                    <li class="nav-item dropdown">
              <a class="nav-link" href="{{url_for('sound_design')}}" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Sound design
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('about')}}">
                About me
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
<div class="page-wrapper chiller-theme toggled">
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-header">
        <div class="user-pic">
          <img class="img-responsive img-rounded" src="{{url_for('static', filename='img/pp.jpg')}}" alt="cafaitlemec">
        </div>
        <div class="user-info">
          <span class="user-name">Pierre-Amaury Grumiaux</span>
          <span class="user-role">PhD Student</span>
          <span class="user-affiliation">Orange Labs</span>
          <span class="user-affiliation">GIPSA-lab, Grenoble-INP</span>
        </div>
      </div>
      <!-- sidebar-header  -->
      <div class="sidebar-menu">
        <ul>
          <li>
            <a href="http://www.wiki-rennes.fr/Sp%C3%A9cial:Page_au_hasard">
              <i class="fa fa-map-marker"></i>
              <span>Rennes</span>
            </a>
          </li>
          <li>
            <a href="mailto:pierreamaury.grumiaux@gmail.com">
              <i class="fa fa-envelope"></i>
              <span>Email</span>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/P.AGrumiaux/">
              <i class="fa fa-facebook"></i>
              <span>Facebook</span>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/pierre-amaury-grumiaux-352b719a/">
              <i class="fa fa-linkedin"></i>
              <span>Linkedin</span>
            </a>
          </li>
          <li>
            <a href="https://scholar.google.com/citations?user=gUBZ64sAAAAJ">
              <i class="fa fa-google"></i>
              <span>Google Scholar</span>
            </a>
          </li>
          <li>
            <a href="https://github.com/pagrumiaux">
              <i class="fa fa-github"></i>
              <span>Github</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
  </nav>
  <!-- sidebar-wrapper  -->
  
  <main class="page-content">
    <div class="container-fluid">     
      <h2> Research </h2>
      
      <hr>
      
      <div class="row">
        <div class="col-md-12">
          <p>I am currently a PhD student in <b>audio</b> and <b>artificial intelligence</b>, in a collaboration between Orange Labs and <a href="http://www.gipsa-lab.fr/">GIPSA-lab</a>. I am in the audio research team within Orange Labs, and in the <a href="http://www.gipsa-lab.fr/crissp/accueil-crissp.php">CRISSP</a> team at GIPSA-lab.</p>
          <p>My <a href="http://www.theses.fr/s209940">PhD research</a> focuses on the problem of <b>audio source localization</b> and <b>tracking</b>, specifically on speech signals. I am investigating the possibilities of using deep learning on 3D audio signals to improve the existing models.</p>
          <p>My other research interests include <b>music information retrieval</b> and <b>music generation</b>.</p>
        </div>
      </div>
      
      <hr>
      
      <div>
        <h4> Publications </h4>
        <br>

        <div class="row">
            <div class="col-lg-1">
                <b>2020</b>
            </div>
            <div class="col-lg-8 offset-lg-0">
                P.-.A Grumiaux, S. Kitic, L. Girin, A. Guérin, <i>Multichannel CRNN for Speaker Counting: an Analysis of Performance</i>, Forum Acusticum (FA2020), Lyon, France, 2020.
            </div>
            <div class="col-lg-5 mb-lg-2 offset-lg-1">
                <!-- <a href="{{url_for('static', filename='pdf/fa2020.pdf')}}"> -->
                    <img class="logo horizontal-logo" src="{{url_for('static', filename='img/pdf-icon.png')}}" alt="pdf">
                <!-- </a> -->
                <!-- <a href="{{url_for('static', filename='pdf/fa2020.pdf')}}"> -->
                    <img class="logo horizontal-logo" src="{{url_for('static', filename='img/website-icon-2.png')}}" alt="pdf">
                <!-- </a> -->
            </div>
            
            <div class="col-lg-8 mb-lg-0 offset-lg-1">
                P.-.A Grumiaux, S. Kitic, L. Girin, A. Guérin, <i>High-Resolution Speaker Counting In Reverberant Rooms Using CRNN With Ambisonics Features</i>, European Signal Processing Conference (EUSIPCO2020), Amsterdam, Netherlands, 2017.
            </div>
            <div class="col-lg-5 mb-lg-2 offset-lg-1">
                <a href="{{url_for('static', filename='pdf/eusipco2020.pdf')}}">
                    <img class="logo horizontal-logo" src="{{url_for('static', filename='img/pdf-icon.png')}}" alt="pdf">
                </a>
                <a href="https://arxiv.org/abs/2003.07839">
                    <img class="logo horizontal-logo" src="{{url_for('static', filename='img/website-icon-2.png')}}" alt="pdf">
                </a>
            </div>
        </div>

        <br>
        
        <div class="row">
            <div class="col-lg-1">
                <b>2017</b>
            </div>
            <div class="col-lg-8 mb-lg-0 offset-lg-0">
                P.-.A Grumiaux, R. Michon, E. J. G. Arias, P. Jouvelot, <i>Impulse-Response and CAD-Model-Based Physical Modeling in Faust</i>, Linux Audio Conference (LAC17), Saint-Etienne, France, 2017.
            </div>
            <div class="col-lg-5 mb-lg-2 offset-lg-1">
                <a href="{{url_for('static', filename='pdf/lac2017.pdf')}}">
                    <img class="logo horizontal-logo" src="{{url_for('static', filename='img/pdf-icon.png')}}" alt="pdf">
                </a>
                <a href="https://hal-mines-paristech.archives-ouvertes.fr/hal-01710232">
                    <img class="logo horizontal-logo" src="{{url_for('static', filename='img/website-icon-2.png')}}" alt="pdf">
                </a>
            </div>
        </div>
      </div>
      
      <hr>
      <div>
        <h4> Internship reports </h4>
        <br>

        <div class="row">
            <div class="col-lg-1">
                <b>2018</b>
            </div>
            <div class="col-lg-8 mb-lg-0 offset-lg-0">
                P.-.A Grumiaux <i>Transcription automatique de batterie</i>, supervised by Geoffroy Peeters, Master ATIAM 2017-2018.
            </div>
            <div class="col-lg-5 mb-lg-2 offset-lg-1">
                <a href="{{url_for('static', filename='pdf/atiam_thesis.pdf')}}">
                    <img class="logo horizontal-logo" src="{{url_for('static', filename='img/pdf-icon.png')}}" alt="pdf">
                </a>
                <a href="http://www.atiam.ircam.fr/Archives/Stages1718/GRUMIAUX_Pierre-Amaury_Memoire_Stage.pdf">
                    <img class="logo horizontal-logo" src="{{url_for('static', filename='img/website-icon-2.png')}}" alt="pdf">
                </a>
            </div>
        </div>

        <br>
        
        <div class="row">
            <div class="col-lg-1">
                <b>2016</b>
            </div>
            <div class="col-lg-8 mb-lg-0 offset-lg-0">
                P.-.A Grumiaux <i>Physical modelling library in Faust</i>, Supervised by Pierre Jouvelot and Romain Michon, Ecole Centrale de Lille 2015-2016 (2nd year).
            </div>
            <div class="col-lg-5 mb-lg-2 offset-lg-1">
                <a href="{{url_for('static', filename='pdf/cri_thesis.pdf')}}">
                    <img class="logo horizontal-logo" src="{{url_for('static', filename='img/pdf-icon.png')}}" alt="pdf">
                </a>
            </div>
        </div>
      </div>

    </div>
        
      <hr>
      <footer class="text-center">
          <small>
            © 2020 Pierre-Amaury Grumiaux
          </small>
      </footer>
    </div>
  </main>
  <!-- page-content -->
</div>
<!-- page-wrapper -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
</body>



  </body>
</html>